.app-loading {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    padding: 0;
    z-index: 999999;
    background: #000000;
    color: #ffffff;
    text-align: center;
}

/* Table Sort */
.table-sortable > thead > tr > th {
    cursor: pointer;
    position: relative;
}

.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th:after {
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    right: 10px; /* (right padding / 2) - arrow width */
    top: 20px; /* ((padding * 2) + line height) - arrow height */
    /** As pointed out by Dave Everitt in
     * https://css-tricks.com/snippets/css/css-triangle/
     * The arrow is not an equilateral triangle.
     * the height is 86.6% of the width.
     * Notice the above code does not subract the border
     * width exactly. It is subtracting
     * (rounded) border width * 86.6%
     **/
}

/* Default sortable indicator */
.table-sortable > thead > tr > th:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
    border-bottom: 0px solid transparent;
}
.table-sortable > thead > tr > th.no {
    cursor: default;
}
.table-sortable > thead > tr > th.no:after {
    border: 0;
}
/* !Default */

/* Default sortable indicator:hover */
.table-sortable > thead > tr > th:hover:after {
    border-top: 5px solid #888;
}
/* !Default:hover */

/* Ascending sortable indicator */
.table-sortable > thead > tr > th.asc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid #333;
}
.table-sortable > thead > tr > th.asc:hover:after {
    border-bottom: 5px solid #888;
}
/* !Ascending */

/* Descending sortable indicator */
.table-sortable > thead > tr > th.desc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    border-bottom: 5px solid transparent;
}
/* !Descending */

.table-action {
    a.btn {
        padding: 0 5px;
    }
}
